@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body, ul, h2{
    margin: 0 !important;
    padding: 0;
}
:root{
    --purple:hsl(231, 69%, 60%);
    --red:hsl(0, 94%, 66%);
    --grey:hsl(229, 8%, 60%);
    --dark:hsl(229, 31%, 21%);
}
body{
    background-color: #fff;
    font-family: 'Rubik', sans-serif !important;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}
a{
    text-decoration: none !important;
    color: var(--dark) !important;
}
.header{
height: 70px;
background-color: #fff;

    /* margin: 20px 20px 10px; */
}
.header li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font:normal normal 400 14px/normal 'rubik', sans-serif;
}
.login_btn{
    background-color: var(--red);
    color: #fff;
    border-radius: 0.5rem;
    text-transform: uppercase;
    width: 120px;
    border:0;
    padding: 8px;
}
.login_btn:hover{
    opacity: 0.9;
    transition: 0.2ms ease-in all;
}
.cst-btns{
    width: auto;
    border:0;
    border-radius: 0.2rem;
    padding: 15px 20px;
    font: normal normal 400 14px/normal 'rubik', sans-serif;
}
.cst-btns:hover{
    opacity: 0.9;
}
.cst-btns.red{
    background-color: var(--red);
    color: #fff;
    margin: 0 5px;
}
.cst-btns.purple{
    background-color: var(--purple);
    color: #fff;
    margin: 0 5px;
}
.cst-btns.light{
    background-color:#f2f2f2;
    color: grey;
    margin: 0 5px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 5%);
    /* box-shadow: inset 0 2px 3px 2px; */
}
.landing h2{
    text-align: initial;
    font: normal normal 500 2.2rem/normal 'rubik', sans-serif;
    color: var(--dark);
    padding:  5px 0;
}
.landing p{
    font: normal normal 400 1.2rem/1.4 'rubik', sans-serif;   
    color: var(--grey);
    padding: 5px 0;
}

.img-card{
    position: relative;
    display: flex;
    height: 400px;
    width: 100%;
}
.img-card img{
    width: auto;
    /* max-width: -webkit-fill-available; */
    position: absolute;
    box-sizing: border-box;
    height: 400px;
    object-fit: contain;
    width: 600px;
    padding: 0;
    margin-top: 5px;
}
@media  only screen and (max-width:1024px) {
    .img-card img{
        width: 400px;
        height: 300px;
    }
    .img-card .img-bg{
        height: 230px !important;
        margin-left: 140px !important;
    }

}

.img-card .img-bg{
    background-color: var(--purple);
    width: -webkit-fill-available;
    /* width: auto; */
    border-radius: 250px 0 0px 250px;
    height: 325px;
    margin-left: 200px;
    margin-top: 85px;
}
.cl-block{
    width: 430px;
    height: auto;
}

/* .feature-card{

} */
.cst_tab.nav-pills{
    border-bottom: 3px solid lightgray;
    padding: 13.5px 0;
}
.cst_tab.nav-pills .nav-link.active{
background-color: transparent;
border-bottom: 3px solid var(--red);
border-radius: 0;
}
.cst_tab.nav-pills .nav-link{
    display: initial;
    transition: none;
    padding: 1rem 3.5rem;
}
.tab-card{
    position: relative;
    display: flex;
    height: 400px;
    width: 100%;
}
.tab-card img{
    width: auto;
    /* max-width: -webkit-fill-available; */
    position: absolute;
    box-sizing: border-box;
    height: 380px;
    object-fit: scale-down;
    width: 570px;
    padding: 0;
    margin: 0 20px 30px 100px;
}
.tab-card img.tab1{
    width: auto;
    /* max-width: -webkit-fill-available; */
    position: absolute;
    box-sizing: border-box;
    height: 350px;
    object-fit: scale-down;
    width: 530px;
    padding: 0;
    margin: 0 20px 30px 100px;
}
.tab-card .img-bg{
    background-color: var(--purple);
    width: 70%;
    /* width: auto; */
    border-radius:0 250px 250px 0;
    height: 325px;
    margin-right: 200px;
    margin-top: 85px;
}
@media  only screen and (max-width:1024px) {
    .tab-card img.tab1{
        height: 230px;
        width: 330px;
    }
    .tab-card .img-bg{
        height: 241px;
        margin-right: 100px;
        margin-top: 75px;
    }
    .tab-card img{
        width: 350px;
        height: 290px;
    }
}
.download{
    display: grid;
    gap: 10px 30px;
    padding: 20px 50px;
    grid-template-columns: repeat(3, 1fr);
}
.download-card{
    height: auto;
    min-width: 150px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 5%);
    border: 1px solid whitesmoke;
    border-radius: 20px;
}
.download-card:nth-child(2){
    transform: translate(0px ,40px);
}
.download-card:nth-child(3){
    transform: translate(0px ,70px);
}
.download-card img{
    height: 50%;
    width: 50%;
    margin:  0 auto;
}
.download-card img.dots{
    /* height: 50%; */
    width: 100%;
    padding-bottom: 2rem;
}
.download-card h3{
    color: var(--dark);
    white-space: nowrap;
    /* padding: 0 10px; */
    font:normal normal 500 2rem/normal 'Rubik', sans-serif ;
}
@media  only screen and (max-width:1024px) {
    .download-card h3{
        font:normal normal 500 1.5rem/normal 'Rubik', sans-serif ;
    }
   .download-card .cst-btns.purple{
        margin: 0 15px;
    }
}
.cst_collapse{
    display: block;
    margin: 0 auto;
    padding: 1.5rem 5rem; 
}
.cst_collapse .accordion-button:not(.collapsed){
    color: var(--dark);
    background-color: white;
    font: normal normal 500 16px/normal 'rubik', sans-serif;
}
.cst_collapse .accordion-button::after{
    background-image: url(../assets/icon-arrow.svg);
}
.cst_collapse .accordion-button:not(.collapsed)::after{
    background-image: url(../assets/icon-arrow.svg);
}
.cst_collapse .accordion-button{
    border-color: var(--dark);
    box-shadow: none;
    border-bottom:  1px solid var(--grey);
}
.cst_collapse .accordion-button:focus{
    border-color: var(--dark);
    box-shadow: none;
    border-bottom:  1px solid var(--grey);
}
.cst_collapse .accordion-item{
    border: none;
}
.cst_collapse .accordion-body{
    border-bottom: 1px solid var(--grey);
    font: normal normal 400 16px/1.4 'rubik', sans-serif;
    color: var(--grey);
}
.footer{
    background-color: var(--purple);
}
.footer .cst_input{
    height: 45px;
    width: 330px;
    margin-right: 15px;
    border-radius: 0.2rem;
    border: 0;
}
.footer .cst_input::placeholder{
    color: var(--grey);
    font: normal normal 400 16px/1.4 'rubik', sans-serif;
    padding: 5px 10px;
}
.footer_menu{
    background-color: var(--dark);
    height: 70px;
}
.footer_menu li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font:normal normal 400 14px/normal 'rubik', sans-serif;
    color: #fff;
}
